#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = production

#--------------------------------------------------------------------
# APP & PROXY
#--------------------------------------------------------------------
app.baseURL = http://127.0.0.1:3270/

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
database.default.hostname = host.docker.internal
database.default.database = smartyard
database.default.username = smartyard_admin
database.default.password = RTziYhM8Rwi5fMra
database.default.DBDriver = MySQLi
database.default.port = 3306

#--------------------------------------------------------------------
# LICENSE
#--------------------------------------------------------------------
PURCHASE_CODE = 1234
LICENSE_KEY = localhost-license

#--------------------------------------------------------------------
# COOKIE
#--------------------------------------------------------------------
cookie.prefix = 'sy_'
